version: '2'

services:

  nginx-proxy:
    image: jwilder/nginx-proxy:latest
    container_name: nginx-proxy
    ports:
      - "80:80"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock
      - ./docker/nginx.tmpl:/app/nginx.tmpl

  db:
    image: postgres:9.6

  mongo:
    image: mongo

  redis:
    image: redis

  # commented out as not used currently
  # rabbitmq:
  #   image: rabbitmq

  elasticsearch:
    image: elasticsearch:1.7.6
    environment:
      - http.host=0.0.0.0
      - transport.host=127.0.0.1
      - xpack.security.enabled=false

  rummager:
    build: apps/rummager
    depends_on:
      - diet-errbit
    environment:
      ERRBIT_API_KEY: 1
      ERRBIT_ENVIRONMENT_NAME: rummager
      GOVUK_APP_NAME: rummager
      LOG_PATH: log/live.log
      VIRTUAL_HOST: rummager.dev.gov.uk
    links:
      - elasticsearch
      - redis
      - nginx-proxy:errbit.dev.gov.uk
    ports:
      - "3009:3009"
    volumes:
      - ./apps/rummager/log:/app/log

  diet-errbit:
    build: diet-errbit
    environment:
      VIRTUAL_HOST: errbit.dev.gov.uk
    ports:
      - "3129:3129"
    volumes:
      - ./tmp:/app/tmp

  router: &router
    build: apps/router
    environment:
      VIRTUAL_HOST: www.dev.gov.uk
      VIRTUAL_PORT: 3054
    links:
      - mongo
      - nginx-proxy:specialist-frontend.dev.gov.uk
      - nginx-proxy:government-frontend.dev.gov.uk
    ports:
      - "3054:3054"
      - "3055:3055"

  draft-router:
    << : *router
    environment:
      GOVUK_APP_NAME: draft-router
      PLEK_HOSTNAME_PREFIX: draft-
      PLEK_SERVICE_ERRBIT_URI: http://errbit.dev.gov.uk
      ROUTER_PUBADDR: ":3154"
      ROUTER_APIADDR: ":3155"
      ROUTER_MONGO_DB: draft-router
      VIRTUAL_HOST: draft-origin.dev.gov.uk
      VIRTUAL_PORT: 3154
    links:
      - mongo
      - nginx-proxy:draft-specialist-frontend.dev.gov.uk
      - nginx-proxy:draft-government-frontend.dev.gov.uk
    ports:
      - "3154:3154"
      - "3155:3155"

  router-api: &router-api
    build: apps/router-api
    depends_on:
      - diet-errbit
    environment:
      ERRBIT_API_KEY: 1
      ERRBIT_ENVIRONMENT_NAME: router-api
      LOG_PATH: log/live.log
      VIRTUAL_HOST: router-api.dev.gov.uk
    links:
      - mongo
      - router
      - nginx-proxy:errbit.dev.gov.uk
    ports:
      - "3056:3056"
    volumes:
      - ./apps/router-api/log:/app/log

  draft-router-api:
    << : *router-api
    environment:
      ERRBIT_API_KEY: 1
      ERRBIT_ENVIRONMENT_NAME: draft-router-api
      GOVUK_APP_NAME: draft-router-api
      LOG_PATH: log/draft.log
      MONGODB_URI: mongodb://mongo/draft-router
      PLEK_HOSTNAME_PREFIX: draft-
      PLEK_SERVICE_ERRBIT_URI: http://errbit.dev.gov.uk
      PORT: 3156
      ROUTER_NODES: "draft-router:3155"
      TEST_MONGODB_URI: mongodb://mongo/draft-router-test
      VIRTUAL_HOST: draft-router-api.dev.gov.uk
    links:
      - mongo
      - draft-router
      - nginx-proxy:errbit.dev.gov.uk
    ports:
      - "3156:3156"

  content-store: &content-store
    build: apps/content-store
    depends_on:
      - router-api
      - diet-errbit
    environment:
      ERRBIT_API_KEY: 1
      ERRBIT_ENVIRONMENT_NAME: content-store
      LOG_PATH: log/live.log
      VIRTUAL_HOST: content-store.dev.gov.uk
    links:
      - mongo
      - nginx-proxy:router-api.dev.gov.uk
      - nginx-proxy:errbit.dev.gov.uk
    ports:
      - "3068:3068"
    volumes:
      - ./apps/content-store/log:/app/log
      - ./apps/govuk-content-schemas:/govuk-content-schemas

  draft-content-store:
    << : *content-store
    depends_on:
      - draft-router-api
      - diet-errbit
    environment:
      ERRBIT_API_KEY: 1
      ERRBIT_ENVIRONMENT_NAME: draft-content-store
      GOVUK_APP_NAME: draft-content-store
      LOG_PATH: log/draft.log
      MONGODB_URI: mongodb://mongo/draft-content-store
      PLEK_HOSTNAME_PREFIX: draft-
      PLEK_SERVICE_ERRBIT_URI: http://errbit.dev.gov.uk
      PORT: 3100
      VIRTUAL_HOST: draft-content-store.dev.gov.uk
    links:
      - mongo
      - nginx-proxy:draft-router-api.dev.gov.uk
      - nginx-proxy:errbit.dev.gov.uk
    ports:
      - "3100:3100"

  publishing-api:
    build: apps/publishing-api
    depends_on:
      - publishing-api-worker
      - diet-errbit
    environment:
      DISABLE_QUEUE_PUBLISHER: 1
      ERRBIT_API_KEY: 1
      ERRBIT_ENVIRONMENT_NAME: publishing-api
      VIRTUAL_HOST: publishing-api.dev.gov.uk
    links:
      - db
      - redis
      # - rabbitmq
      - nginx-proxy:errbit.dev.gov.uk
    ports:
      - "3093:3093"
    volumes:
      - ./apps/govuk-content-schemas:/govuk-content-schemas
      - ./apps/publishing-api/log:/app/log

  publishing-api-worker:
    build: apps/publishing-api
    command: bundle exec sidekiq -C ./config/sidekiq.yml
    depends_on:
      - content-store
      - draft-content-store
      - diet-errbit
    environment:
      DISABLE_QUEUE_PUBLISHER: 1
      ERRBIT_API_KEY: 1
      ERRBIT_ENVIRONMENT_NAME: publishing-api-worker
    links:
      - db
      - redis
      # - rabbitmq
      - nginx-proxy:content-store.dev.gov.uk
      - nginx-proxy:draft-content-store.dev.gov.uk
      - nginx-proxy:errbit.dev.gov.uk
    volumes:
      - ./apps/govuk-content-schemas:/govuk-content-schemas
      - ./apps/publishing-api/log:/app/log

  specialist-publisher:
    build: apps/specialist-publisher
    depends_on:
      - publishing-api
      - asset-manager
      - diet-errbit
    environment:
      ERRBIT_API_KEY: 1
      ERRBIT_ENVIRONMENT_NAME: specialist-publisher
      VIRTUAL_HOST: specialist-publisher.dev.gov.uk
    links:
      - mongo
      - redis
      - nginx-proxy:publishing-api.dev.gov.uk
      - nginx-proxy:asset-manager.dev.gov.uk
      - nginx-proxy:errbit.dev.gov.uk
    ports:
      - "3064:3064"
    volumes:
      - ./apps/specialist-publisher/log:/app/log

  travel-advice-publisher: &travel-advice-publisher
    build: apps/travel-advice-publisher
    depends_on:
      - publishing-api
      - asset-manager
      - static
      - rummager
      - diet-errbit
    environment:
      ERRBIT_API_KEY: 1
      ERRBIT_ENVIRONMENT_NAME: travel-advice-publisher
      VIRTUAL_HOST: travel-advice-publisher.dev.gov.uk
    links:
      - mongo
      - redis
      - nginx-proxy:rummager.dev.gov.uk
      - nginx-proxy:publishing-api.dev.gov.uk
      - nginx-proxy:asset-manager.dev.gov.uk
      - nginx-proxy:static.dev.gov.uk
      - nginx-proxy:errbit.dev.gov.uk
    ports:
      - "3035:3035"
    volumes:
      - ./apps/travel-advice-publisher/log:/app/log

  travel-advice-publisher-worker:
    << : *travel-advice-publisher
    command: bundle exec sidekiq -C ./config/sidekiq.yml
    depends_on:
      - diet-errbit
    environment:
      ERRBIT_API_KEY: 1
      ERRBIT_ENVIRONMENT_NAME: travel-advice-publisher
    ports: []

  asset-manager: &asset-manager
    build: apps/asset-manager
    depends_on:
      - asset-manager-worker
      - diet-errbit
    links:
      - mongo
      - nginx-proxy:errbit.dev.gov.uk
    environment:
      ERRBIT_API_KEY: 1
      ERRBIT_ENVIRONMENT_NAME: asset-manager
      VIRTUAL_HOST: asset-manager.dev.gov.uk
    ports:
      - "3037:3037"
    volumes:
      - ./apps/asset-manager/log:/app/log
      - ./tmp/asset-manager/uploads:/app/uploads

  asset-manager-worker:
    << : *asset-manager
    command: bundle exec rake jobs:work
    depends_on:
      - diet-errbit
    environment:
      ERRBIT_API_KEY: 1
      ERRBIT_ENVIRONMENT_NAME: asset-manager-worker
    ports: []

  static: &static
    build: apps/static
    depends_on:
      - diet-errbit
    environment:
      ERRBIT_API_KEY: 1
      ERRBIT_ENVIRONMENT_NAME: static
      LOG_PATH: log/live.log
      VIRTUAL_HOST: static.dev.gov.uk
    links:
      - nginx-proxy:errbit.dev.gov.uk
    ports:
      - "3013:3013"
    volumes:
      - ./apps/static/log:/app/log

  draft-static:
    << : *static
    environment:
      ERRBIT_API_KEY: 1
      ERRBIT_ENVIRONMENT_NAME: draft-static
      GOVUK_APP_NAME: draft-static
      LOG_PATH: log/draft.log
      PLEK_HOSTNAME_PREFIX: draft-
      PLEK_SERVICE_ERRBIT_URI: http://errbit.dev.gov.uk
      PORT: 3113
      VIRTUAL_HOST: draft-static.dev.gov.uk
    ports:
      - "3113:3113"

  # I think we might need these finder apps running to publish finders
  # finder-frontend:
  # draft-finder-frontend:

  specialist-frontend: &specialist-frontend
    build: apps/specialist-frontend
    depends_on:
      - content-store
      - static
      - diet-errbit
    environment:
      ERRBIT_API_KEY: 1
      ERRBIT_ENVIRONMENT_NAME: specialist-frontend
      LOG_PATH: log/live.log
      VIRTUAL_HOST: specialist-frontend.dev.gov.uk
    links:
      - nginx-proxy:content-store.dev.gov.uk
      - nginx-proxy:static.dev.gov.uk
      - nginx-proxy:errbit.dev.gov.uk
    ports:
      - "3065:3065"
    volumes:
      - ./apps/specialist-frontend/log:/app/log

  draft-specialist-frontend:
    << : *specialist-frontend
    depends_on:
      - draft-content-store
      - draft-static
      - diet-errbit
    environment:
      ERRBIT_API_KEY: 1
      ERRBIT_ENVIRONMENT_NAME: draft-specialist-frontend
      GOVUK_APP_NAME: draft-specialist-frontend
      LOG_PATH: log/draft.log
      PLEK_HOSTNAME_PREFIX: draft-
      PLEK_SERVICE_ERRBIT_URI: http://errbit.dev.gov.uk
      PORT: 3165
      VIRTUAL_HOST: draft-specialist-frontend.dev.gov.uk
    links:
      - nginx-proxy:draft-content-store.dev.gov.uk
      - nginx-proxy:draft-static.dev.gov.uk
      - nginx-proxy:errbit.dev.gov.uk
    ports:
      - "3165:3165"

  government-frontend: &government-frontend
    build: apps/government-frontend
    depends_on:
      - content-store
      - static
      - diet-errbit
    environment:
      ERRBIT_API_KEY: 1
      ERRBIT_ENVIRONMENT_NAME: government-frontend
      LOG_PATH: log/live.log
      VIRTUAL_HOST: government-frontend.dev.gov.uk
      VIRTUAL_PORT: 3090
    links:
      - nginx-proxy:content-store.dev.gov.uk
      - nginx-proxy:static.dev.gov.uk
      - nginx-proxy:errbit.dev.gov.uk
    ports:
      - "3090:3090"
    volumes:
      - ./apps/government-frontend/log:/app/log

  draft-government-frontend:
    << : *government-frontend
    depends_on:
      - draft-content-store
      - draft-static
      - diet-errbit
    environment:
      ERRBIT_API_KEY: 1
      ERRBIT_ENVIRONMENT_NAME: draft-government-frontend
      GOVUK_APP_NAME: draft-government-frontend
      LOG_PATH: log/draft.log
      PLEK_HOSTNAME_PREFIX: draft-
      PLEK_SERVICE_ERRBIT_URI: http://errbit.dev.gov.uk
      PORT: 3190
      VIRTUAL_HOST: draft-government-frontend.dev.gov.uk
    links:
      - nginx-proxy:draft-content-store.dev.gov.uk
      - nginx-proxy:draft-static.dev.gov.uk
      - nginx-proxy:errbit.dev.gov.uk
    ports:
      - "3190:3190"

  publishing-e2e-tests:
    build: .
    depends_on:
      - specialist-frontend
      - specialist-publisher
      - government-frontend
      - travel-advice-publisher
    links:
      - nginx-proxy:www.dev.gov.uk
      - nginx-proxy:assets-origin.dev.gov.uk
      - nginx-proxy:static.dev.gov.uk
      - nginx-proxy:draft-origin.dev.gov.uk
      - nginx-proxy:draft-static.dev.gov.uk
      - nginx-proxy:specialist-publisher.dev.gov.uk
      - nginx-proxy:travel-advice-publisher.dev.gov.uk
    volumes:
      - ./tmp:/app/tmp
