version: '3'

services:

  nginx-proxy:
    image: jwilder/nginx-proxy:latest
    container_name: nginx-proxy
    ports:
      - "80:80"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock
      - ./docker/nginx.tmpl:/app/nginx.tmpl

  postgres:
    image: postgres:9.6
    healthcheck:
      test: ["CMD", "psql --username 'postgres' -c 'SELECT 1'"]

  mysql:
    image: mysql:5.5.58
    environment:
      MYSQL_ROOT_PASSWORD: root
    healthcheck:
      test: ["CMD", "mysql --user=root --password=root -e 'SELECT 1'"]

  mongo:
    image: mongo:2.4
    healthcheck:
      test: ["CMD", "echo 'db.stats().ok' | mongo localhost:27017/test --quiet"]

  redis:
    image: redis
    healthcheck:
      test: ["CMD", "redis-cli ping"]

  # commented out as not used currently
  # rabbitmq:
  #   image: rabbitmq

  elasticsearch:
    image: elasticsearch:1.7.6
    environment:
      - http.host=0.0.0.0
      - transport.host=127.0.0.1
      - xpack.security.enabled=false
    healthcheck:
      test: ["CMD", "curl --silent --fail localhost:9200/_cluster/health || exit 1"]

  rummager:
    build: apps/rummager
    depends_on:
      - diet-error-handler
    environment:
      GOVUK_APP_NAME: rummager
      LOG_PATH: log/live.log
      SENTRY_CURRENT_ENV: rummager
      SENTRY_DSN: http://user:password@error-handler.dev.gov.uk/123
      VIRTUAL_HOST: rummager.dev.gov.uk
    links:
      - elasticsearch
      - redis
      - nginx-proxy:error-handler.dev.gov.uk
    ports:
      - "33009:3009"
    volumes:
      - ./apps/rummager/log:/app/log

  diet-error-handler:
    build: diet-error-handler
    environment:
      VIRTUAL_HOST: error-handler.dev.gov.uk
    ports:
      - "33129:3129"
    volumes:
      - ./tmp:/app/tmp

  router: &router
    build: apps/router
    environment:
      VIRTUAL_HOST: www.dev.gov.uk
      VIRTUAL_PORT: 3054
      ROUTER_BACKEND_HEADER_TIMEOUT: 60s
    links:
      - mongo
      - nginx-proxy:government-frontend.dev.gov.uk
      - nginx-proxy:collections.dev.gov.uk
      - nginx-proxy:frontend.dev.gov.uk
      - nginx-proxy:calendars.dev.gov.uk
    ports:
      - "33054:3054"
      - "33055:3055"

  draft-router:
    << : *router
    environment:
      GOVUK_APP_NAME: draft-router
      PLEK_HOSTNAME_PREFIX: draft-
      PLEK_SERVICE_ERRBIT_URI: http://error-handler.dev.gov.uk
      ROUTER_BACKEND_HEADER_TIMEOUT: 60s
      ROUTER_PUBADDR: ":3154"
      ROUTER_APIADDR: ":3155"
      ROUTER_MONGO_DB: draft-router
      VIRTUAL_HOST: draft-origin.dev.gov.uk
      VIRTUAL_PORT: 3154
    links:
      - mongo
      - nginx-proxy:draft-government-frontend.dev.gov.uk
      - nginx-proxy:draft-frontend.dev.gov.uk
    ports:
      - "33154:3154"
      - "33155:3155"

  router-api: &router-api
    build: apps/router-api
    depends_on:
      - diet-error-handler
    environment:
      LOG_PATH: log/live.log
      SENTRY_CURRENT_ENV: router-api
      SENTRY_DSN: http://user:password@error-handler.dev.gov.uk/123
      VIRTUAL_HOST: router-api.dev.gov.uk
    links:
      - mongo
      - router
      - nginx-proxy:error-handler.dev.gov.uk
    ports:
      - "33056:3056"
    volumes:
      - ./apps/router-api/log:/app/log

  draft-router-api:
    << : *router-api
    environment:
      GOVUK_APP_NAME: draft-router-api
      LOG_PATH: log/draft.log
      MONGODB_URI: mongodb://mongo/draft-router
      PLEK_HOSTNAME_PREFIX: draft-
      PORT: 3156
      ROUTER_NODES: "draft-router:3155"
      SENTRY_CURRENT_ENV: draft-router-api
      SENTRY_DSN: http://user:password@error-handler.dev.gov.uk/123
      TEST_MONGODB_URI: mongodb://mongo/draft-router-test
      VIRTUAL_HOST: draft-router-api.dev.gov.uk
    links:
      - mongo
      - draft-router
      - nginx-proxy:error-handler.dev.gov.uk
    ports:
      - "33156:3156"

  content-store: &content-store
    build: apps/content-store
    depends_on:
      - router-api
      - diet-error-handler
    environment:
      LOG_PATH: log/live.log
      SENTRY_CURRENT_ENV: content-store
      SENTRY_DSN: http://user:password@error-handler.dev.gov.uk/123
      VIRTUAL_HOST: content-store.dev.gov.uk
    links:
      - mongo
      - nginx-proxy:router-api.dev.gov.uk
      - nginx-proxy:error-handler.dev.gov.uk
    ports:
      - "33068:3068"
    volumes:
      - ./apps/content-store/log:/app/log
      - ./apps/govuk-content-schemas:/govuk-content-schemas

  draft-content-store:
    << : *content-store
    depends_on:
      - draft-router-api
      - diet-error-handler
    environment:
      ERRBIT_ENVIRONMENT_NAME: draft-content-store
      GOVUK_APP_NAME: draft-content-store
      LOG_PATH: log/draft.log
      MONGODB_URI: mongodb://mongo/draft-content-store
      PLEK_HOSTNAME_PREFIX: draft-
      PLEK_SERVICE_ERRBIT_URI: http://error-handler.dev.gov.uk
      PORT: 3100
      SENTRY_CURRENT_ENV: draft-content-store
      SENTRY_DSN: http://user:password@error-handler.dev.gov.uk/123
      VIRTUAL_HOST: draft-content-store.dev.gov.uk
    links:
      - mongo
      - nginx-proxy:draft-router-api.dev.gov.uk
      - nginx-proxy:error-handler.dev.gov.uk
    ports:
      - "33100:3100"

  publishing-api:
    build: apps/publishing-api
    depends_on:
      - publishing-api-worker
      - diet-error-handler
    environment:
      DISABLE_QUEUE_PUBLISHER: 1
      SENTRY_CURRENT_ENV: publishing-api
      SENTRY_DSN: http://user:password@error-handler.dev.gov.uk/123
      VIRTUAL_HOST: publishing-api.dev.gov.uk
    links:
      - postgres
      - redis
      # - rabbitmq
      - nginx-proxy:error-handler.dev.gov.uk
    ports:
      - "33093:3093"
    volumes:
      - ./apps/govuk-content-schemas:/govuk-content-schemas
      - ./apps/publishing-api/log:/app/log

  publishing-api-worker:
    build: apps/publishing-api
    command: bundle exec sidekiq -C ./config/sidekiq.yml
    depends_on:
      - content-store
      - draft-content-store
      - diet-error-handler
    environment:
      DISABLE_QUEUE_PUBLISHER: 1
      SENTRY_CURRENT_ENV: publishing-api-worker
      SENTRY_DSN: http://user:password@error-handler.dev.gov.uk/123
    links:
      - postgres
      - redis
      # - rabbitmq
      - nginx-proxy:content-store.dev.gov.uk
      - nginx-proxy:draft-content-store.dev.gov.uk
      - nginx-proxy:error-handler.dev.gov.uk
    volumes:
      - ./apps/govuk-content-schemas:/govuk-content-schemas
      - ./apps/publishing-api/log:/app/log

  specialist-publisher:
    build: apps/specialist-publisher
    depends_on:
      - publishing-api
      - asset-manager
      - diet-error-handler
    environment:
      SENTRY_CURRENT_ENV: specialist-publisher
      SENTRY_DSN: http://user:password@error-handler.dev.gov.uk/123
      VIRTUAL_HOST: specialist-publisher.dev.gov.uk
    healthcheck:
      test: ["CMD", "curl --silent --fail localhost:3064 || exit 1"]
    links:
      - mongo
      - redis
      - nginx-proxy:publishing-api.dev.gov.uk
      - nginx-proxy:asset-manager.dev.gov.uk
      - nginx-proxy:error-handler.dev.gov.uk
    ports:
      - "33064:3064"
    volumes:
      - ./apps/specialist-publisher/log:/app/log

  travel-advice-publisher: &travel-advice-publisher
    build: apps/travel-advice-publisher
    depends_on:
      - publishing-api
      - asset-manager
      - static
      - rummager
      - travel-advice-publisher-worker
      - diet-error-handler
    environment:
      SENTRY_CURRENT_ENV: travel-advice-publisher
      SENTRY_DSN: http://user:password@error-handler.dev.gov.uk/123
      VIRTUAL_HOST: travel-advice-publisher.dev.gov.uk
    healthcheck:
      test: ["CMD", "curl --silent --fail localhost:3035 || exit 1"]
    links:
      - mongo
      - redis
      - nginx-proxy:rummager.dev.gov.uk
      - nginx-proxy:publishing-api.dev.gov.uk
      - nginx-proxy:asset-manager.dev.gov.uk
      - nginx-proxy:static.dev.gov.uk
      - nginx-proxy:error-handler.dev.gov.uk
    ports:
      - "33035:3035"
    volumes:
      - ./apps/travel-advice-publisher/log:/app/log

  travel-advice-publisher-worker:
    << : *travel-advice-publisher
    command: bundle exec sidekiq -C ./config/sidekiq.yml
    depends_on:
      - publishing-api
      - diet-error-handler
    environment:
      SENTRY_CURRENT_ENV: travel-advice-publisher-worker
      SENTRY_DSN: http://user:password@error-handler.dev.gov.uk/123
    ports: []

  collections-publisher: &collections-publisher
    build: apps/collections-publisher
    depends_on:
      - publishing-api
      - mysql
      - rummager
      - collections-publisher-worker
      - diet-error-handler
    environment:
      SENTRY_CURRENT_ENV: collections-publisher
      SENTRY_DSN: http://user:password@error-handler.dev.gov.uk/123
      VIRTUAL_HOST: collections-publisher.dev.gov.uk
    healthcheck:
      test: ["CMD", "curl --silent --fail localhost:3071 || exit 1"]
    links:
      - mysql
      - nginx-proxy:rummager.dev.gov.uk
      - nginx-proxy:publishing-api.dev.gov.uk
      - nginx-proxy:error-handler.dev.gov.uk
    ports:
      - "33071:3071"
    volumes:
      - ./apps/collections-publisher/log:/app/log

  collections-publisher-worker:
    << : *collections-publisher
    command: bundle exec sidekiq -C ./config/sidekiq.yml
    depends_on:
      - publishing-api
      - diet-error-handler
    environment:
      SENTRY_CURRENT_ENV: collections-publisher-worker
      SENTRY_DSN: http://user:password@error-handler.dev.gov.uk/123
    ports: []

  collections: &collections
    build: apps/collections
    depends_on:
      - content-store
      - static
      - rummager
      - diet-error-handler
    environment:
      PLEK_SERVICE_SEARCH_URI: http://rummager.dev.gov.uk
      SENTRY_CURRENT_ENV: collections
      SENTRY_DSN: http://user:password@error-handler.dev.gov.uk/123
      VIRTUAL_HOST: collections.dev.gov.uk
    healthcheck:
      test: ["CMD", "curl --silent --fail localhost:3070/learn-to-drive-a-car || exit 1"]
    links:
      - nginx-proxy:rummager.dev.gov.uk
      - nginx-proxy:content-store.dev.gov.uk
      - nginx-proxy:static.dev.gov.uk
      - nginx-proxy:error-handler.dev.gov.uk
    ports:
      - "33070:3070"
    volumes:
      - ./apps/collections/log:/app/log

  publisher: &publisher
    build: apps/publisher
    depends_on:
      - publishing-api
      - publisher-worker
      - diet-error-handler
      - calendars
    environment:
      SENTRY_CURRENT_ENV: publisher
      SENTRY_DSN: http://user:password@error-handler.dev.gov.uk/123
      VIRTUAL_HOST: publisher.dev.gov.uk
      GOVUK_CONTENT_SCHEMAS_PATH: /govuk-content-schemas/
    healthcheck:
      test: ["CMD", "curl --silent --fail localhost:3000 || exit 1"]
    volumes:
      - apps/govuk-content-schemas/:/govuk-content-schemas/
    links:
      - redis
      - mongo
      - nginx-proxy:publishing-api.dev.gov.uk
      - nginx-proxy:error-handler.dev.gov.uk
      - nginx-proxy:calendars.dev.gov.uk
    ports:
      - "33000:3000"
    volumes:
      - ./apps/publisher/log:/app/log

  publisher-worker:
    << : *publisher
    command: bundle exec sidekiq -C ./config/sidekiq.yml
    depends_on:
      - publishing-api
      - diet-error-handler
    environment:
      SENTRY_CURRENT_ENV: publisher-worker
      SENTRY_DSN: http://user:password@error-handler.dev.gov.uk/123
    ports: []

  frontend: &frontend
    build: apps/frontend
    depends_on:
      - content-store
      - static
      - rummager
      - diet-error-handler
      - publishing-api
    environment:
      PLEK_SERVICE_SEARCH_URI: http://rummager.dev.gov.uk
      SENTRY_CURRENT_ENV: frontend
      SENTRY_DSN: http://user:password@error-handler.dev.gov.uk/123
      VIRTUAL_HOST: frontend.dev.gov.uk
    healthcheck:
      test: ["CMD", "curl --silent --fail localhost:3005 || exit 1"]
    links:
      - nginx-proxy:rummager.dev.gov.uk
      - nginx-proxy:content-store.dev.gov.uk
      - nginx-proxy:static.dev.gov.uk
      - nginx-proxy:error-handler.dev.gov.uk
      - nginx-proxy:publishing-api.dev.gov.uk
    ports:
      - "33005:3005"
    volumes:
      - ./apps/frontend/log:/app/log

  draft-frontend:
    << : *frontend
    depends_on:
      - draft-content-store
      - draft-static
      - rummager
      - diet-error-handler
    environment:
      PORT: 3105
      PLEK_HOSTNAME_PREFIX: draft-
      PLEK_SERVICE_SEARCH_URI: http://rummager.dev.gov.uk
      SENTRY_CURRENT_ENV: draft-frontend
      SENTRY_DSN: http://user:password@error-handler.dev.gov.uk/123
      VIRTUAL_HOST: draft-frontend.dev.gov.uk
    healthcheck:
      test: ["CMD", "curl --silent --fail localhost:3105 || exit 1"]
    links:
      - nginx-proxy:rummager.dev.gov.uk
      - nginx-proxy:draft-content-store.dev.gov.uk
      - nginx-proxy:draft-static.dev.gov.uk
      - nginx-proxy:error-handler.dev.gov.uk
    ports:
      - "33105:3105"

  calendars: &calendars
    build: apps/calendars
    depends_on:
      - rummager
      - content-store
      - static
      - publishing-api
      - diet-error-handler
    environment:
      SENTRY_CURRENT_ENV: calendars
      SENTRY_DSN: http://user:password@error-handler.dev.gov.uk/123
      VIRTUAL_HOST: calendars.dev.gov.uk
    links:
      - nginx-proxy:static.dev.gov.uk
      - nginx-proxy:content-store.dev.gov.uk
      - nginx-proxy:rummager.dev.gov.uk
      - nginx-proxy:publishing-api.dev.gov.uk
      - nginx-proxy:error-handler.dev.gov.uk
    ports:
      - "33011:3011"
    volumes:
      - ./apps/calendars/log:/app/log

  asset-manager: &asset-manager
    build: apps/asset-manager
    depends_on:
      - asset-manager-worker
      - diet-error-handler
    links:
      - mongo
      - redis
      - nginx-proxy:error-handler.dev.gov.uk
    environment:
      ERRBIT_API_KEY: 1
      ERRBIT_ENVIRONMENT_NAME: asset-manager
      REDIS_HOST: redis
      SENTRY_CURRENT_ENV: asset-manager
      SENTRY_DSN: http://user:password@error-handler.dev.gov.uk/123
      VIRTUAL_HOST: asset-manager.dev.gov.uk
    healthcheck:
      test: ["CMD", "curl --silent --fail localhost:3037 || exit 1"]
    ports:
      - "33037:3037"
    volumes:
      - ./apps/asset-manager/log:/app/log
      - ./tmp:/app/uploads

  asset-manager-worker:
    << : *asset-manager
    command: bundle exec sidekiq -C ./config/sidekiq.yml
    depends_on:
      - diet-error-handler
    environment:
      ERRBIT_API_KEY: 1
      ERRBIT_ENVIRONMENT_NAME: asset-manager-worker
      REDIS_HOST: redis
      SENTRY_CURRENT_ENV: asset-manager-worker
      SENTRY_DSN: http://user:password@error-handler.dev.gov.uk/123
    ports: []

  static: &static
    build: apps/static
    depends_on:
      - diet-error-handler
    environment:
      ERRBIT_API_KEY: 1
      ERRBIT_ENVIRONMENT_NAME: static
      LOG_PATH: log/live.log
      SENTRY_CURRENT_ENV: static
      SENTRY_DSN: http://user:password@error-handler.dev.gov.uk/123
      VIRTUAL_HOST: static.dev.gov.uk
    links:
      - nginx-proxy:error-handler.dev.gov.uk
    ports:
      - "33013:3013"
    volumes:
      - ./apps/static/log:/app/log

  draft-static:
    << : *static
    environment:
      ERRBIT_API_KEY: 1
      ERRBIT_ENVIRONMENT_NAME: draft-static
      GOVUK_APP_NAME: draft-static
      LOG_PATH: log/draft.log
      PLEK_HOSTNAME_PREFIX: draft-
      PLEK_SERVICE_ERRBIT_URI: http://error-handler.dev.gov.uk
      PORT: 3113
      REDIS_URL: redis://redis/1
      SENTRY_CURRENT_ENV: draft-static
      SENTRY_DSN: http://user:password@error-handler.dev.gov.uk/123
      VIRTUAL_HOST: draft-static.dev.gov.uk
    ports:
      - "33113:3113"

  # I think we might need these finder apps running to publish finders
  # finder-frontend:
  # draft-finder-frontend:

  government-frontend: &government-frontend
    build: apps/government-frontend
    depends_on:
      - content-store
      - static
      - diet-error-handler
    environment:
      ERRBIT_API_KEY: 1
      ERRBIT_ENVIRONMENT_NAME: government-frontend
      LOG_PATH: log/live.log
      SENTRY_CURRENT_ENV: government-frontend
      SENTRY_DSN: http://user:password@error-handler.dev.gov.uk/123
      VIRTUAL_HOST: government-frontend.dev.gov.uk
      VIRTUAL_PORT: 3090
    healthcheck:
      test: ["CMD", "curl --silent --fail localhost:3090 || exit 1"]
    links:
      - nginx-proxy:content-store.dev.gov.uk
      - nginx-proxy:static.dev.gov.uk
      - nginx-proxy:error-handler.dev.gov.uk
    ports:
      - "33090:3090"
    volumes:
      - ./apps/government-frontend/log:/app/log

  draft-government-frontend:
    << : *government-frontend
    depends_on:
      - draft-content-store
      - draft-static
      - diet-error-handler
    environment:
      ERRBIT_API_KEY: 1
      ERRBIT_ENVIRONMENT_NAME: draft-government-frontend
      GOVUK_APP_NAME: draft-government-frontend
      LOG_PATH: log/draft.log
      PLEK_HOSTNAME_PREFIX: draft-
      PLEK_SERVICE_ERRBIT_URI: http://error-handler.dev.gov.uk
      PORT: 3190
      SENTRY_CURRENT_ENV: draft-government-frontend
      SENTRY_DSN: http://user:password@error-handler.dev.gov.uk/123
      VIRTUAL_HOST: draft-government-frontend.dev.gov.uk
    healthcheck:
      test: ["CMD", "curl --silent --fail localhost:3190 || exit 1"]
    links:
      - nginx-proxy:draft-content-store.dev.gov.uk
      - nginx-proxy:draft-static.dev.gov.uk
      - nginx-proxy:error-handler.dev.gov.uk
    ports:
      - "33190:3190"

  publishing-e2e-tests:
    build: .
    depends_on:
      - specialist-publisher
      - government-frontend
      - draft-government-frontend
      - travel-advice-publisher
      - collections-publisher
      - collections
      - publisher
      - frontend
      - draft-frontend
    links:
      - nginx-proxy:www.dev.gov.uk
      - nginx-proxy:assets-origin.dev.gov.uk
      - nginx-proxy:static.dev.gov.uk
      - nginx-proxy:draft-origin.dev.gov.uk
      - nginx-proxy:draft-static.dev.gov.uk
      - nginx-proxy:specialist-publisher.dev.gov.uk
      - nginx-proxy:travel-advice-publisher.dev.gov.uk
      - nginx-proxy:collections-publisher.dev.gov.uk
      - nginx-proxy:collections.dev.gov.uk
      - nginx-proxy:publisher.dev.gov.uk
    volumes:
      - ./tmp:/app/tmp
