version: '3.4'

# In development we want to expose the ports to the host machine on a predictable port.
# This allows for easier manual testing of the services

# On CI this is unnecessary and can cause conflicts between two builds wanting to use the same port.

services:
  nginx-proxy:
    ports:
      - "80:80"

  search-api:
    ports:
      - "33233:3233"

  diet-error-handler:
    ports:
      - "33129:3129"

  router:
    ports:
      - "33054:3054"
      - "33055:3055"

  draft-router:
    ports:
      - "33154:3154"
      - "33155:3155"

  router-api:
    ports:
      - "33056:3056"

  draft-router-api:
    ports:
      - "33156:3156"

  content-store:
    ports:
      - "33068:3068"

  draft-content-store:
    ports:
      - "33100:3100"

  publishing-api:
    ports:
      - "33093:3093"

  specialist-publisher:
    ports:
      - "33064:3064"

  travel-advice-publisher:
    ports:
      - "33035:3035"

  collections-publisher:
    ports:
      - "33071:3071"

  collections:
    ports:
      - "33070:3070"

  contacts-admin:
    ports:
      - "33051:3051"

  finder-frontend:
    ports:
      - "33062:3062"

  draft-collections:
    ports:
      - "33170:3170"

  publisher:
    ports:
      - "33000:3000"

  frontend:
    ports:
      - "33005:3005"

  draft-frontend:
    ports:
      - "33105:3105"

  manuals-publisher:
    ports:
      - "33205:3205"

  manuals-frontend:
    ports:
      - "33072:3072"

  draft-manuals-frontend:
    ports:
      - "33172:3172"

  whitehall-admin:
    ports:
      - "33020:3020"

  whitehall-frontend:
    ports:
      - "33120:3020"

  draft-whitehall-frontend:
    ports:
      - "33220:3020"

  content-tagger:
    ports:
      - "33116:3116"

  asset-manager:
    ports:
      - "33037:3037"

  email-alert-api:
    ports:
      - "33088:3088"

  static:
    ports:
      - "33013:3013"

  draft-static:
    ports:
      - "33113:3113"

  government-frontend:
    ports:
      - "33090:3090"

  draft-government-frontend:
    ports:
      - "33190:3190"
